*.o1
*.c
*~
test-framework/*.o?
test-framework/*.c
test-framework/*~
tests/*.o?
tests/*.c
tests/*~
tests/run-tests
lambda-calculus/*.o?
lambda-calculus/*.c
lambda-calculus/*~
lambda-calculus/run-tests
reasoned-schemer/*.o?
reasoned-schemer/*.c
reasoned-schemer/*~
reasoned-schemer/run-tests